/*---FOOTER----*/
@import "../base/variables";

footer{
    background-color: nth($azules, 3);
    margin-top: 20px;
    padding: 20px 0 5px 0;
    width: 100%;
    grid-area: footer;
    p{
        font-family: 'Mukta', sans-serif;
        font-size: 15px;
        color:white;
        text-align: center;
        z-index: 100;
    }

    .iconos{
        display: flex;
        justify-content:center;
        img{
            transition-duration: 2s;
            transition-delay: 0s;
            transition: 1s;
                width: 30px;
            height: 30px;
            margin: 10px;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}