/*---FOOTER----*/

footer{
    background-color: #0d6efd;
    margin-top: 20px;
    padding: 20px 0 5px 0;
    width: 100%;
    grid-area: footer;
    p{
        font-family: 'Mukta', sans-serif;
        font-size: 15px;
        color:white;
        text-align: center;
        z-index: 100;
    }
    img{
        width: 30px;
        height: 30px;
        margin: 10px;
    }
    div{
        display: flex;
        justify-content:center;
        transition-duration: 2s;
        transition-delay: 0s;
        transition: 1s;
        &div:hover{
            transform: scale(1.1);
        }
    }
}