/* ----- FORMULARIO CONTACTO ----*/
.formulario{
    text-align: center;
    background-image: url("../img/espirometria.jpg");
    width: 100% ;
    height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    h2{
        @include formu2 (15px, black, bold, 10px);
        font-family: 'Mukta', sans-serif;
    }
    form{
        @include formu2 (15px, black, bold, 10px);
        font-family: 'Mukta', sans-serif;
        width: 480px;
        background: nth($azules, 1);
        padding: 10px 10px;
        border-radius: 15px;
    }
    label{
        color:white;
        @extend %formu1;
    }
    input{
        @extend %formu1;
    }
    textarea{
        @extend %formu1;
    }
    
    #button{
        font-family: 'Mukta', sans-serif;
        background: nth($azules, 2);
        color: white;
        border: 2px solid white;
        padding: 5px;
        &:hover{
            cursor: pointer;
            font-weight: bold;
            }
    }
}