
.headerProdus{  
    background-image: url("../img/medico_recomienda1.jpg");
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
    div{
        h2{
            font-family: 'Mukta', sans-serif;
            font-size: $font-grande;
            text-align: center;
            color: $color-azul-fuerte;  
        }
        p{
            font-family: 'Mukta', sans-serif;
            font-size: $font-chica;
            text-align: center;
            color: $color-azul-fuerte;
        }
    }
}