
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 150px;
    gap: 0px 0px;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
